actionlib==1.13.2
addict==2.4.0
angles==1.9.13
anyio==3.6.2
apturl==0.5.2
arbotix-python==0.11.0
argcomplete==1.8.1
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
asttokens==2.2.1
atomicwrites==1.1.5
attrs==19.3.0
autobahn==17.10.1
automat==0.8.0
babel==2.11.0
backcall==0.1.0
base-local-planner==1.17.2
bcrypt==3.1.7
beautifulsoup4==4.8.2
bleach==5.0.1
blinker==1.4
blis==0.7.9
blosc==1.7.0
bondpy==1.8.6
breezy==3.0.2
brlapi==0.7.0
camera-calibration-parsers==1.12.0
camera-calibration==1.17.0
catalogue==2.0.8
catkin-pkg-modules==0.5.2
catkin-pkg==0.5.2
catkin==0.8.10
cbor==1.0.0
certifi==2019.11.28
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==1.3.0
cmake==3.25.0
cob-cartesian-controller==0.8.20
cob-script-server==0.6.30
cob-twist-controller==0.8.20
colcon-argcomplete==0.3.3
colcon-bash==0.4.2
colcon-cd==0.1.1
colcon-cmake==0.2.27
colcon-common-extensions==0.3.0
colcon-core==0.11.0
colcon-defaults==0.2.6
colcon-devtools==0.2.3
colcon-installed-package-information==0.1.0
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.2.14
colcon-output==0.2.12
colcon-override-check==0.0.1
colcon-package-information==0.3.3
colcon-package-selection==0.2.10
colcon-parallel-executor==0.2.4
colcon-pkg-config==0.1.0
colcon-powershell==0.3.7
colcon-python-setup-py==0.2.7
colcon-recursive-crawl==0.2.1
colcon-ros==0.3.23
colcon-test-result==0.3.8
colcon-zsh==0.4.0
colorama==0.4.3
comm==0.1.2
command-not-found==0.3
confection==0.0.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.0.7
controller-manager-msgs==0.19.6
controller-manager-tests==0.19.6
controller-manager==0.19.6
cov-core==1.15.0
coverage==4.5.2
cryptography==2.8
cupshelpers==1.0
cv-bridge==1.16.2
cycler==0.10.0
cymem==2.0.7
cython==0.29.14
dask==2.8.1+dfsg
data==0.4
dbus-python==1.2.16
debugpy==1.6.4
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
deprecated==1.2.7
deprecation==2.1.0
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
distlib==0.3.0
distro-info==0.23ubuntu1
distro==1.4.0
docker-pycreds==0.4.0
docutils==0.16
dulwich==0.19.15
duplicity==0.8.12.0
dynamic-reconfigure==1.7.3
dynamixel-sdk==3.7.51
empy==3.3.2
entrypoints==0.3
et-xmlfile==1.0.1
executing==1.2.0
fasteners==0.18
fastimport==0.9.8
fastjsonschema==2.16.2
filelock==3.0.12
fonttools==4.38.0
fsspec==0.6.1
funcsigs==1.0.2
future==0.18.2
fvcore==0.1.5.post20221213
gazebo-plugins==2.9.2
gazebo-ros==2.9.2
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
gitdb==4.0.10
gitpython==3.1.29
glfw==2.5.5
gpg==1.13.1-unknown
gym==0.21.0
html5lib==1.0.1
httplib2==0.14.0
huggingface-hub==0.11.1
hyperlink==19.0.0
idna==2.8
image-geometry==1.16.2
imageio-ffmpeg==0.4.7
imageio==2.22.4
importlib-metadata==5.1.0
importlib-resources==5.10.1
incremental==16.10.1
interactive-markers==1.12.0
iopath==0.1.10
ipykernel==6.19.2
ipython-genutils==0.2.0
ipython==8.7.0
ipywidgets==8.0.3
jdcal==1.0
jedi==0.18.2
jinja2==3.1.2
joblib==0.14.0
joint-state-publisher-gui==1.15.1
joint-state-publisher==1.15.1
jsk-data==2.2.12
jsk-recognition-utils==1.2.15
jsk-rviz-plugins==2.1.8
jsk-topic-tools==2.2.12
json5==0.9.10
jsonschema==4.17.3
jupyter-client==7.4.8
jupyter-core==5.1.0
jupyter-events==0.5.0
jupyter-packaging==0.12.3
jupyter-server-terminals==0.4.2
jupyter-server==2.0.1
jupyterlab-pygments==0.2.2
jupyterlab-server==2.16.5
jupyterlab-widgets==3.0.4
jupyterlab==3.5.1
keyring==18.0.1
kiwisolver==1.0.1
langcodes==3.3.0
language-selector==0.1
laser-geometry==1.6.7
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
locket==0.2.0
lockfile==0.12.2
louis==3.12.0
lxml==4.5.0
lz4==3.0.2+dfsg
macaroonbakery==1.3.1
mako==1.1.0
markupsafe==2.1.1
matplotlib-inline==0.1.6
matplotlib==3.7.0
message-filters==1.15.15
mistune==2.0.4
monotonic==1.5
more-itertools==4.2.0
moveit-core==1.1.10
moveit-ros-planning-interface==1.1.11
moveit-ros-visualization==1.1.11
moviepy==1.0.3
mpi4py==3.0.3
mujoco-py==2.1.2.14
murmurhash==1.0.9
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.6
nbformat==5.7.0
nest-asyncio==1.5.6
netifaces==0.10.4
networkx==2.4
nose2==0.9.1
nose==1.3.7
notebook-shim==0.2.2
notebook==6.5.2
notify2==0.3
numexpr==2.7.1
numpy==1.23.5
oauthlib==3.1.0
olefile==0.46
open3d==0.13.0
opencv-python==4.6.0.66
openni2-launch==1.6.0
openpyxl==3.0.3
packaging==20.3
pandas==1.5.2
pandocfilters==1.5.0
paramiko==2.6.0
parso==0.8.3
partd==1.0.0
pathtools==0.1.2
pathy==0.10.1
pbr==5.11.0
pexpect==4.6.0
pickleshare==0.7.5
pillow==9.3.0
pip==20.0.2
pkgutil-resolve-name==1.3.10
platformdirs==2.6.0
pluggy==0.13.0
portalocker==2.6.0
pr2-controller-manager==1.8.21
preshed==3.0.8
proglog==0.1.10
prometheus-client==0.15.0
promise==2.3
prompt-toolkit==3.0.36
protobuf==4.21.12
psutil==5.5.1
ptyprocess==0.7.0
pure-eval==0.2.2
py-ubjson==0.14.0
py==1.8.1
pyasn1-modules==0.2.1
pyasn1==0.4.2
pycairo==1.16.2
pycparser==2.21
pycryptodomex==3.6.1
pycups==1.9.73
pydantic==1.10.2
pydot==1.4.1
pygithub==1.43.7
pygments==2.13.0
pygobject==3.36.0
pygraphviz==1.5
pyhamcrest==1.9.0
pyjwt==1.7.1
pymacaroons==0.13.0
pynacl==1.3.0
pyopengl==3.1.0
pyopenssl==19.0.0
pyparsing==2.4.6
pypng==0.0.20
pyqrcode==1.2.1
pyqt5==5.14.1
pyrfc3339==1.1
pyrsistent==0.19.2
pyserial==3.4
pytest-cov==2.8.1
pytest==4.6.9
python-apt==2.0.0+ubuntu0.20.4.8
python-dateutil==2.8.2
python-debian==0.1.36ubuntu1
python-gitlab==2.0.1
python-gnupg==0.4.5
python-json-logger==2.0.4
python-pcl==0.3
python-qt-binding==0.4.4
python-snappy==0.5.3
pytrie==0.2
pytz==2022.6
pywavelets==0.5.1
pyxdg==0.26
pyyaml==6.0
pyzmq==18.1.1
qt-dotgraph==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
qt-gui==0.4.2
regex==2022.10.31
reportlab==3.5.34
requests-unixsocket==0.2.0
requests==2.28.1
resource-retriever==1.12.7
roman==2.0.0
rosbag==1.15.15
rosboost-cfg==1.15.8
rosclean==1.15.8
roscreate==1.15.8
rosdep-modules==0.22.1
rosdep==0.22.1
rosdistro-modules==0.9.0
rosdistro==0.9.0
rosgraph==1.15.15
rosinstall-generator==0.1.22
rosinstall==0.7.8
roslaunch==1.15.15
roslib==1.15.8
roslint==0.12.0
roslz4==1.15.15
rosmake==1.15.8
rosmaster==1.15.15
rosmsg==1.15.15
rosnode==1.15.15
rosparam==1.15.15
rospkg-modules==1.4.0
rospkg==1.4.0
rospy==1.15.15
rosservice==1.15.15
rostest==1.15.15
rostopic==1.15.15
rosunit==1.15.8
roswtf==1.15.15
rqt-action==0.4.9
rqt-bag-plugins==0.5.1
rqt-bag==0.5.1
rqt-console==0.4.11
rqt-controller-manager==0.19.6
rqt-dep==0.4.12
rqt-graph==0.4.14
rqt-gui-py==0.5.3
rqt-gui==0.5.3
rqt-image-view==0.4.16
rqt-joint-trajectory-controller==0.21.0
rqt-launch==0.4.9
rqt-logger-level==0.4.11
rqt-moveit==0.5.10
rqt-msg==0.4.10
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.11
rqt-publisher==0.4.10
rqt-py-common==0.5.3
rqt-py-console==0.4.10
rqt-reconfigure==0.5.5
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.14
rqt-robot-steering==0.5.12
rqt-runtime-monitor==0.5.9
rqt-rviz==0.7.0
rqt-service-caller==0.4.10
rqt-shell==0.4.11
rqt-srv==0.4.9
rqt-tf-tree==0.6.3
rqt-top==0.4.10
rqt-topic==0.4.13
rqt-web==0.4.10
rviz==1.14.19
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.3.3
screen-resolution-extra==0.0.0
seaborn==0.12.1
secretstorage==2.3.1
send2trash==1.8.0
sensor-msgs==1.13.1
sentry-sdk==1.11.1
service-identity==18.1.0
setproctitle==1.3.2
setuptools==65.6.3
shortuuid==1.0.11
simplejson==3.16.0
sip==4.19.21
six==1.14.0
smach-ros==2.5.0
smach==2.5.0
smart-open==6.3.0
smclib==1.8.6
smmap==5.0.0
sniffio==1.3.0
sound-play==0.3.15
soupsieve==1.9.5
spacy-legacy==3.0.10
spacy-loggers==1.0.4
spacy==3.4.4
srdfdom==0.6.3
srsly==2.4.5
stack-data==0.6.2
systemd-python==234
tables==3.6.1
tabulate==0.9.0
termcolor==2.1.1
terminado==0.17.1
testresources==2.0.1
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.6
tf2-kdl==0.7.6
tf2-py==0.7.6
tf2-ros==0.7.6
tf==1.13.2
thinc==8.1.5
tinycss2==1.2.1
tokenizers==0.13.2
tomli==2.0.1
tomlkit==0.11.6
toolz==0.9.0
topic-tools==1.15.15
torch-ema==0.3
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tornado==6.2
tqdm==4.64.1
traitlets==5.7.1
transformers==4.25.1
transforms3d==0.4.1
twisted==18.9.0
txaio==2.10.0
typer==0.7.0
typing-extensions==4.4.0
u-msgpack-python==2.1
ubuntu-advantage-tools==27.12
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urdfdom-py==0.4.6
urllib3==1.25.8
usb-creator==0.3.7
vcstool==0.3.0
vcstools==0.1.42
wadllib==1.3.3
wandb==0.13.7
wasabi==0.10.1
wcwidth==0.1.8
webencodings==0.5.1
websocket-client==1.4.2
wheel==0.38.4
widgetsnbextension==4.0.4
wrapt==1.11.2
wsaccel==0.6.2
wstool==0.1.18
xacro==1.14.14
xkit==0.0.0
xlrd==1.1.0
xlwt==1.3.0
yacs==0.1.8
zipp==3.13.0
zope.interface==4.7.1